@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 122.5rem;
  margin: auto;
  padding: 0 2.4rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Header */
section#header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: 0.4s;
}
section#header .header .nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section#header .header .nav-bar .branch a {
  text-transform: uppercase;
}
section#header .header .nav-bar .branch a h1 {
  font-size: 3rem;
}
section#header .header .nav-bar .branch a h1 span {
  color: crimson;
}
section#header .header .nav-bar .nav-list .bar {
  display: none;
}
section#header .header .nav-bar .nav-list ul {
  display: flex;
  list-style: none;
}
section#header .header .nav-bar .nav-list ul li:hover a {
  color: crimson;
}
section#header .header .nav-bar .nav-list ul li a {
  display: inline-block;
  font-size: 1.8rem;
  padding: 2rem;
  text-transform: uppercase;
}

/* Hero */
section#hero {
  width: 100%;
  height: 100vh;
  background: url(/img/hero-bg.png) no-repeat center;
  background-size: cover;
}
section#hero .container {
  height: 100vh;
  display: flex;
  align-items: center;
}
section#hero .container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}
section#hero .container div {
  z-index: 1;
}
section#hero .container div h1 {
  font-size: 7rem;
  color: #fff;
  width: fit-content;
  position: relative;
}
section#hero .container div a {
  display: inline-block;
  font-size: 2.5rem;
  padding: 20px 60px;
  color: #fff;
  background-color: transparent;
  border: 1px solid crimson;
  transition: 0.4s background-color;
  margin-top: 2rem;
  text-transform: uppercase;
}
section#hero .container div a:hover {
  background-color: crimson;
}

/* Services */
section#services .container .services-top {
  width: 500px;
  margin: auto;
  padding-top: 12rem;
}
section#services .container .services-top h1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
  margin-bottom: 1rem;
}
section#services .container .services-top h1 span {
  color: crimson;
}
section#services .container .services-top p {
  text-align: center;
  line-height: 2.5rem;
  font-weight: 300;
  color: black;
  letter-spacing: 0.05rem;
}
section#services .container .services-bottom {
  display: flex;
  margin-top: 5rem;
}
section#services .container .services-bottom .service-item {
  margin: 1.5rem;
  padding: 2.5rem;
  background-image: url(../img/img-1.png);
  background-size: cover;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}
section#services .container .services-bottom .service-item h2 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
section#services .container .services-bottom .service-item p {
  color: #fff;
}
section#services .container .services-bottom .service-item:after {
  content: "";
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}

/* Project */
section#project .container {
  padding: 150px 0;
}
section#project .container .project-header .section-title {
  font-size: 6rem;
  color: black;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
section#project .container .project-header .section-title span {
  color: crimson;
}
section#project .container .project-all .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}
section#project .container .project-all .project-item > div {
  flex-basis: 50%;
}
section#project .container .project-all .project-item .project-info {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: #fff;
}
section#project .container .project-all .project-item .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
section#project .container .project-all .project-item .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
section#project .container .project-all .project-item .project-info p {
  color: #fff;
}
section#project .container .project-all .project-item .project-image {
  height: 100%;
  position: relative;
}
section#project .container .project-all .project-item .project-image:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
section#project .container .project-all .project-item:nth-child(even) .project-image {
  order: 0;
}
section#project .container .project-all .project-item:nth-child(even) .project-info {
  order: 1;
}

/* About me */
section#about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section#about .container .col-left {
  flex-basis: 600px;
  height: 400px;
}
section#about .container .col-left .about-image {
  width: 100%;
  height: 100%;
  border: 10px solid #fff;
  position: relative;
}
section#about .container .col-left .about-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  left: -44px;
  border: 10px solid crimson;
  z-index: -1;
}
section#about .container .col-right {
  padding: 30px;
  width: 100%;
  text-align: left;
}
section#about .container .col-right .section-title {
  font-size: 6rem;
  color: black;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: left;
}
section#about .container .col-right .section-title span {
  color: crimson;
}
section#about .container .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
section#about .container .col-right a {
  display: inline-block;
  font-size: 2rem;
  padding: 10px 20px;
  color: black;
  background-color: transparent;
  border: 2px solid crimson;
  transition: 0.4s background-color;
  margin-top: 3rem;
  text-transform: uppercase;
}
section#about .container .col-right a:hover {
  background-color: crimson;
  color: #fff;
}

/* Contact */
section#contact .container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
section#contact .container div .section-title {
  font-size: 6rem;
  color: black;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}
section#contact .container div .section-title span {
  color: crimson;
}
section#contact .container .contact-items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
section#contact .container .contact-items .contact-item {
  display: flex;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0px 0px 18px 0 #0000002c;
}
section#contact .container .contact-items .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
section#contact .container .contact-items .contact-item .icon img {
  width: 80%;
  height: 80%;
}
section#contact .container .contact-items .contact-item .contact-info {
  margin-left: 10px;
}
section#contact .container .contact-items .contact-item .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
section#contact .container .contact-items .contact-item .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

/* Footer */
section#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
section#footer .container {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 10px;
}
section#footer .container .brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
}
section#footer .container .brand h1 span {
  color: crimson;
}
section#footer .container h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
section#footer .container .social-icon {
  display: flex;
  margin-bottom: 3rem;
}
section#footer .container .social-icon .social-item {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  transition: 0.3s;
  filter: grayscale(1);
}
section#footer .container .social-icon .social-item:hover {
  filter: grayscale(0);
}
section#footer .container p {
  color: #fff;
}

/* Media Query */
@media (max-width: 768px) {
  section#header .container {
    min-height: 7rem;
  }
  section#header .container .nav-bar .branch {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  section#header .container .nav-bar .nav-list .bar {
    display: block;
    position: absolute;
    right: 3rem;
    top: 1.5rem;
    z-index: 999;
  }
  section#header .container .nav-bar .nav-list .bar i {
    color: #fff;
    font-size: 2.4rem;
  }
  section#header .container .nav-bar .nav-list ul {
    width: 100vw;
    height: 100vh;
    background-color: #1f1e1e;
    flex-direction: column;
    position: absolute;
    left: 100%;
    padding-top: 30%;
    text-align: center;
    transition: 0.6s;
  }
  section#header .container .nav-bar .nav-list ul li a {
    letter-spacing: 0.2rem;
    font-weight: 500;
    font-size: 2.5rem;
  }
  section#header .container .nav-bar .nav-list ul.active {
    left: 0;
  }

  section#hero .container div h1 {
    font-size: 6rem;
  }
  section#hero .container div a {
    font-size: 2rem;
  }

  section#services .container .services-bottom {
    flex-wrap: wrap;
  }
  section#services .container .services-bottom > div {
    flex-basis: 45%;
  }
  section#services .container .services-bottom .service-item .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
  }

  section#about .container .col-left {
    padding-left: 2rem;
  }
  section#about .container .col-left .about-image {
    width: 90%;
    height: 90%;
  }

  section#contact .container .contact-items .contact-item {
    align-items: center;
  }
  section#contact .container .contact-items .contact-item .icon {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 425px) {
  section#header .container .nav-bar .nav-list .bar {
    right: 2rem;
    top: 2.5rem;
  }

  section#services .container .services-top {
    width: 300px;
  }
  section#services .container .services-bottom {
    flex-direction: column;
  }

  section#project .container .project-all .project-item {
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  section#project .container .project-all .project-item .project-image,
section#project .container .project-all .project-item .project-info {
    flex-basis: 50%;
  }
  section#project .container .project-all .project-item:nth-child(even) .project-image {
    order: 1;
  }
  section#project .container .project-all .project-item:nth-child(even) .project-info {
    order: 0;
  }

  section#about .container {
    flex-direction: column;
  }
  section#about .container .col-right {
    order: 0;
    text-align: center;
  }
  section#about .container .col-right h1 {
    text-align: center !important;
    font-size: 4rem !important;
  }
  section#about .container .col-left {
    order: 1;
  }
  section#about .container .col-left .about-image {
    width: 70%;
    margin: auto;
  }
  section#about .container .col-left .about-image:after {
    border: 5px solid crimson;
  }

  section#contact {
    margin-top: 10rem;
  }
  section#contact .container div .section-title {
    font-size: 4rem;
  }
  section#contact .container .contact-items {
    flex-direction: column;
  }
  section#contact .container .contact-items .contact-item {
    width: 80%;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 2rem auto;
  }
  section#contact .container .contact-items .contact-item .icon {
    width: 100px;
    height: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
